#container {
      background-color: rgb(255, 247, 0);
      padding: 30px;
      margin: 20px 20px 20px 20px;
}
.div1 {
      background-color: rgb(255, 195, 222);
      padding: 10px 30px 20px 30px;
      margin: 5px 0px 5px 0px;
}
.div2{
      background-color: rgb(212, 255, 120);
      padding: 10px 30px 20px 30px;
      margin: 15px 20px 15px 20px;
}